<h2>Comments</h2>

<table>

  <tr>
    <th>To Blog</th>
    <th>Commenter</th>
    <th>Email</th>
    <th>Updated_at</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  <tr>
 
  <% @comments.each do |comment| %>
  <tr>
    <td><%= comment.post.title %></td>
    <td><a href="<%= comment.url %>"><%= comment.commenter %></a></td>
    <td><%= comment.email %></td>
    <td><%= comment.updated_at.localtime.to_s(:db) %></td>
    <td><%= comment.title %></td>
    <td><%= comment.content %></td>
    <td><%= link_to 'Delete', [:admin, comment], :method => :delete, :confirm => 'are you sure?'
                                %>
    <td></td>
    <td></td>
  </tr>
  <% end %>

</table>

<br/>
<%= will_paginate @comments %>
