<h1>Sign in</h1>


  <%= form_for User.new, :url => sessions_path, :class => "form-horizontal" do |f| %>

    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="groups">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="groups">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :remember_me %>
      <div class="groups">
        <%= check_box_tag :remember_me %>
      </div>
    </div>

    <div class="control-group">

      <div class="groups">
        <%= f.submit "sign in" %>
      </div>
    </div>

  <% end %>
