
<p>
  <b><a href="<%= comment.url %>"><%= comment.commenter %></a></b>
  <span></span><%= comment.updated_at.localtime.to_s(:db) %>
</p>

<p>
<b>Title:</b>

<%= comment.title %>
</p>

<p>

<b>Content:</b>
<%= comment.content %>
</p>

<p>
<%= link_to 'Delete comment', [comment.post, comment],
    :confirm => 'are you sure?',
    :method => :delete %>

</p>
