<% if @post.comments.any? %>

  <% @post.comments.each do |comment| %>
    <div>
      <%= image_tag comment.gravatar_url(:size=>30) %>
	  <a href="<%= comment.commenter_url %>"><%= comment.commenter%></a> 
	  comment at <%= comment.created_at.localtime.to_s(:db) %>
	  <br/>
	  about <%= time_ago_in_words(comment.created_at.localtime) %> ago
	  <br/>
	  <div>
	    <%= raw markdown comment.content %>
	  </div>
	  <hr/>
	</div>
  <% end %>

<% end %>
