<div>
  <h3>New comment:</h3>
  <%= form_for [@post, @post.comments.build] do |f| %>
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>

    <%= f.label :commenter_email %>
    <%= f.text_field :commenter_email, :placeholder => "email" %>

    <%= f.label :commenter_url %>
    <%= f.text_field :commenter_url %>

    <%= f.label :content %>
    <%= f.text_area :content, :rows => 6, :cols => 20 %>

    <%= f.submit "Submit" %>
  <% end %>
</div>

