
<%= provide(:title, "Sign up") %>


<h1>Sign up</h1>


<%= form_for @user, :class => "form-horizontal" do |f| %>

  <%= render 'shared/object_messages', :target => @user %>
  
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="groups">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :nickname, :class => "control-label" %>
    <div class="groups">
      <%= f.text_field :nickname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="groups">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <div class="groups">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="control-group">
    <div class="groups">
    <%= f.submit "Sign in" %>
    </div>
  </div>

<% end %>
<div>
  <%= link_to "I have an account, sign in!", signin_path %>
</div>
