<div>
  <%= form_for [:admin, @post], :class => "form-horizontal" do |f| %>
    <div class="control-group">
      <div class="groups">
        <%= render 'shared/object_messages', :target => f.object %>
      </div>
    </div>

    <div class="control-group">
      <div class="groups">
        <%= f.submit %>  
      </div>
    </div>

    <div class="control-group"> 
      
      <%= f.label :title, :class => "control-label" %>
      <div class="groups">
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slug, :class => "control-label" %>
      <div class="groups">
        <%= f.text_field :slug %>
      </div>
    </div>


    <div class="control-group">

      <%= f.label :category_id, :class => "control-label" %>
      <div class="groups">
        <%= f.select :category_id, Category.all.collect{|cate|[cate.title, cate.id]} %> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label :content, :class => "control-lable" %>
      <div class="groups">

        <%= f.text_area :content, :rows => 10, :cols => 20 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :summary, :class => "control-lable" %>
      <div class="groups">

        <%= f.text_area :summary, :rows => 10, :cols => 20 %>
      </div>
    </div>

    <div class="control-group">
      <div class="groups">
        <%= f.submit %>  
      </div>
    </div>
  <% end %>
</div>
