<h1><%= @post.title %></h1>

<div>
  Category: <%= @post.category.title %>
</div>
<div>
  Tags: <%= @post.tags.join(',') %>
</div>
<div>
  <%= raw markdown @post.content%>
</div>


<hr/>
<%= link_to "edit", edit_admin_post_path(@post.id) %>
