<%= content_for :title do %>
-Categories
<% end %>

<h1>Categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>

  <% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= category.created_at.localtime.to_s(:db) %></td>
    <td><%= category.updated_at.localtime.to_s(:db) %></td>
    <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Delete', @category, :method => :delete, :confirm => 'are you sure?' %></td>
  </tr>
  <% end %>
</table>

<br/>
<%= will_paginate @categories %>
<br />
<%= link_to 'New Category', new_admin_category_url %>
