<h1><%= @post.title %></h1>

<div>
  <%= link_to @post.category.title, @post.category %>
</div>
<div>
  <%= @post.content%>
</div>


<hr/>
<h2>Comments</h2>

<%= render @post.comments %>

<%= render 'comments/form' %>
