<h1><%= @post.title %></h1>

<div>
  Category: <%= link_to @post.category.title, @post.category %>
</div>
<div>
  <%= image_tag @post.user.gravatar_url(:size=>40) %>
  <%= @post.user.nickname %> 
  
  created at <%= @post.created_at.localtime.to_s(:db) %>
</div>
<div claass="row">
  Tags: <%= @post.tags.map {|tag| tag.title}.join(", ") %>
</div>
<div>
  <%= raw @post.content%>
</div>


<hr/>

<h3>Comments</h3>

<%= render 'comments/comment' %>

<%= render 'comments/form' %>
