<div class="admin-sidebar">
  <ul class="nav nav-list">
  	<li class="">Post</li>
    <li><%= link_to "new post", new_admin_post_path %></li>
    <li><%= link_to "posts", admin_posts_path %></li>
  </ul>

  <ul class="nav nav-list">
  	<li>Category</li>
    <li><%= link_to "new category", new_admin_category_path %></li>
    <li><%= link_to "categories", admin_categories_path %></li>
  </ul>

  <ul class="nav nav-list">
    <li>Tag</li>
    <li><%= link_to "new tag", new_admin_tag_path %></li>
    <li><%= link_to "tags", admin_tags_path %></li>
  </ul>
</div>
